@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #FAFAFA;
}

h2 {
    line-height: 50px;
}
/* p {
    margin: 1rem 0;
} */

h5 {
    margin-bottom: 0;
    margin-top: 2px;
}
/* =======================================
        Header Section
==========================================*/
.sign-up {
    border: 2px solid #F53855;
}

/* =======================================
        Banner Section
==========================================*/
.hero-section {
    margin: 70px 0
}
.section-title {
    font-size: 3rem;
    line-height: 70px;
    font-weight: 500;
}

.highlight {
    font-weight: 700;
}

.get-started-btn,
.plan-primeum-btn,
.subscribe-btn {
    border: none;
    background-color: #F53838;
    padding: 12px 40px;
    width: 250px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s;
}

.get-started-btn:hover,
.plan-primeum-btn:hover,
.subscribe-btn:hover {
    transform: scale(1.1);
}

/* ====================================
        Category Section
=======================================*/
.subscriber .fas {
    background-color: #FCEAEA;
    border-radius: 50%;
    padding: 16px;
}

.subscriber:not(:last-child) {
    border-right: 2px solid #EEEFF2;
    width: 16px;
}

/* ====================================
        Feature Section
=======================================*/
.feature-info {
    margin-left: 6rem;
    margin-top: 4rem;
}
.feature-info ul,
.card ul,
.services ul {
    list-style: none;
    padding-left: 0;
}

.feature-info ul li {
    margin-right: 15px;
}
.feature-info ul li .fas,
.card ul li .fas {
    color: #2FAB73;
}

.card ul li .fas {
    font-size: 14px;
    margin-right: 5px;
}

/* ==================================
        Plan Section
=====================================*/
.plan-btn {
    border: 1px solid #F53855;
    padding: 10px 50px;
}

.plan-btn:hover,
.sign-up:hover {
    background-color: #F53855;
    color: #fff;
}

/* =================================
        Map Section
====================================*/
.map-info {
    padding-bottom: 90px;
}

/* =================================
        Brands section
====================================*/
.brand-image img {
    width: 200px;
    height: 62px;
    object-fit: cover;
}

.amazon {
    width: 277px;
}

/* ==================================
        Client Section
=====================================*/
.client-section {
    height: 212px;
    border: 2px solid #EEEFF2;
    border-radius: 10px;
}
.client-section:hover {
    border: 2px solid #F53855;
}
.client img {
    height: 50px;
}

.client-name h5 {
    font-size: 18px;
}

.rating,
.fill {
    font-size: 14px;
}

.fill {
    color: #FEA250;
}

.dot {
    width: 45px;
    background-color: #F53838;
}
.single-dot {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
}

.circle {
    width: 60px;
    height: 60px;
    border: 2px solid #F53855;
    color: #F53855;
}

.circle:last-child {
    background-color: #F53855;
    color: #fff;
}

.circle i {
    font-size: 28px;
}

/* ================================
        Footer Section
===================================*/
.footer-info {
    width: 35%;
}

.services {
    width: 50%;
}

.services ul li a {
    text-decoration: none;
    color: #4F5665;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: #F53855;
}

.icon i {
    font-size: 18px;
    color: #fff;
    margin: 5px;
}